@{
    ViewBag.Title = "Crear Datos de Estudios";
}
}

<div class="container" style="margin: 30px auto;">
    <h2 class="text-center">Inscripciones</h2>
    <p class="text-center" style="max-width: 1200px; margin: 0 auto;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quod harum doloribus placeat quibusdam ad consectetur tenetur molestiae, corporis autem? Voluptatem, quibusdam quasi provident tempore alias neque officiis est aut!</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-warning">
                    <h5 class="card-title text-white">1. Información inscripción</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-secondary">
                    <h5 class="card-title text-white">2. Información Personal</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-secondary">
                    <h5 class="card-title text-white">3. Confirme sus datos</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <!-- Ajustado a 10 columnas en pantallas medianas -->
            <div class="card" style="border: 2px double #eeecec; border-radius: 50px; background:#eeeeee;">
                <div class="card-body text-center">
                    <div class="containerCard">
                        <h2>Crear nuevo registro de libro</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit et corrupti amet distinctio neque? Impedit, modi rem a unde deleniti excepturi quos non incidunt iusto! Perferendis deserunt sed cum earum.</p>
                    </div>

                    <form>
                        <div class="container mt-3">
                            <div class="row" style="border: 1px solid #c7c6c6; border-radius: 10px; padding: 10px 120px;">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="nuevoIngreso" value="nuevo" required>
                                            <label class="form-check-label" for="nuevoIngreso">Nuevo Ingreso</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="reingreso" value="reingreso" required>
                                            <label class="form-check-label" for="reingreso">Reingreso</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="transferenciaInterna" value="interna" required>
                                            <label class="form-check-label" for="transferenciaInterna">Transferencia Interna</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="transferenciaExterna" value="externa" required>
                                            <label class="form-check-label" for="transferenciaExterna">Transferencia Externa</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modalidad y Nivel de Ingreso -->
                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="modalidad" name="ModalidadId" required>
                                    </select>
                                    <label for="modalidad">Modalidad:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="nivelIngreso" required>
                                    </select>
                                    <label for="programaIngreso">Nivel ingreso:</label>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="programaInteres" name="programaInteres" required>
                                        <option value="" selected>Seleccione el programa de interes</option>
                                    </select>
                                    <label for="modalidad">Programa de interés:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="Escuela" name="escuela" required>
                                        <option value="" selected>Seleccione la modalidad</option>
                                    </select>
                                    <label for="modalidad">Modalidad:</label>
                                </div>
                            </div>


                            <!-- Sede y Periodo -->
                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="sede" required disabled>
                                        <option selected disabled>Seleccione una sede</option>
                                        <option value="Bogota">Bogotá</option>
                                        <option value="Cali">Cali</option>
                                        <option value="Medellin">Medellín</option>
                                        <option value="Villavicencio">Villavicencio</option>
                                        <option value="Cartagena">Cartagena</option>
                                    </select>
                                    <label for="sede">Sede:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="periodo" required disabled>
                                        <option selected disabled>Seleccione el período</option>
                                        <option value="20242P">20242P</option>
                                        <option value="20242V">20242V</option>
                                    </select>
                                    <label for="periodo">Período:</label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="divLoading"></div>

                    <a id="continuar-btn" href="#" class="btn bg-primary text-light btn-lg my-4"><b>Continuar</b></a>
                    <a id="cancelar-btn" class="btn bg-light text-dark btn-lg my-4">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

@section Scripts
{
    <script>

        $(document).ready(function () {
            obtenerModalidad()
        })


        function obtenerModalidad() {
            $.ajax({
                url: "@Url.Action("ObtenerModalidades", "Estudiante")",
                type: "GET",
                dataType: "json",
                data: {
                    modalidad: "modalidad"
                },
                success: function (response) {
                    console.log(response)

                    $("#modalidad").append(
                        $("<option>").attr({ "value": "" }).text("Seleccione la modalidad")
                    )

                    $.each(response, function (i, elemento) {
                        $("#modalidad").append(
                            $("<option>").attr({ "value": elemento.modalidad }).text(elemento.modalidad)
                        )
                    })
                }
            })
        }



        function obtenernivelIngreso() {
            var _modalidad = $("modalidad option:select").val();
            $.ajax({
                url: "/Estudiante/ObtenerNivelIngreso",
                type: "GET",
                dataType: "json",
                data: {
                    modalidad: _modalidad,
                    nivelIngreso: "nivelIngreso"
                },
                success: function (response) {
                    console.log(response)

                    var select = $("#nivelIngreso");
                    select.empty(); // Limpiar el dropdown

                    $("#nivelIngreso").append(
                        $("<option>").attr({ "value": "" }).text("Seleccione el nivel de ingreso")
                    )

                    $.each(response, function (i, elemento) {
                        select.append($("<option>").attr({ "value": elemento.nivelIngreso }).text(elemento.nivelIngreso));
                    });
                }
            })
        }

    </script>
}



